<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nefashot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  
  <!-- =======================================================
  * Template Name: BizLand
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


<div class="language-buttons" >
        <a href="/"><button>English</button></a>
        <a href="/arb"><button>عربي</button></a>
        <a href="/hrb"><button>עִברִית</button></a>
    </div>




  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo" style="margin-left: 12%; margin-top: 1%;"><a href="index.html"><img src="https://static.wixstatic.com/media/cb77fc_dab90ba9ea0540f29b47657617a19478~mv2.jpg/v1/fill/w_84,h_84,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%9C%D7%95%D7%92%D7%95%20%D7%A0%D7%A4%D7%A9%D7%95%D7%AA.jpg"><span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">בית</a></li>
          <li><a class="nav-link scrollto" href="#about">עלינו</a></li>
          <li><a class="nav-link scrollto" href="#team">צוות</a></li>
          <li><a class="nav-link scrollto" href="#contact">צור קשר</a></li>
           <li><a class="nav-link scrollto" href="/events">כל האירועים</a></li>
           <li><a class="nav-link scrollto" href="/login">הוסף אירועים</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>ברוך הבא<span> לנפשות</span></h1>
      <h2>
      .מטרתנו להעלות את המודעות לתחום בריאות הנפש במרחב הציבורי באמצעות אירועים מבוססי אמנות, תרבות ודיאלוג</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">תרשימו לעוד עידכונים</a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>עלינו</h2>
          <h3>תמצאו עוד <span>עלינו</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="https://scontent.ftlv23-1.fna.fbcdn.net/v/t39.30808-6/345319726_639316901425784_9021457995724876869_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=yVw8XG69ScQAX9e7hzz&_nc_ht=scontent.ftlv23-1.fna&oh=00_AfD5zSfaMpC2XPJr12FDf2qVd3PD1hcmGIBF7IsiDC8UMQ&oe=64CA793E" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>אנו מאמינים שמפגשים אנושיים הכוללים אמנות, יצירתיות ודיאלוג הם כלי רב עוצמה לקראת הבנה אותנטית ונחוצה מאוד של בריאות הנפש </h3>
            <p class="fst-italic">          
              פסטיבל בריאות הנפש נפשות החל כיוזמה ירושלמית ובשנתיים הראשונות האירועים התקיימו בעיקר במרחב הציבורי של ירושלים. עם זאת, בשנת 2020, עקב מגבלות הריחוק החברתי סביב מגיפת הקורונה, הפעילות התרחבה מבחינה גיאוגרפית מכיוון שהאירועים היו ברובם וירטואליים. הגעה בלתי צפויה כזו הובילה למעורבות כלל ארצית והיום יתקיים פסטיבל בריאות הנפש נפשות בצפון, בדרום, במרכז וכמובן בירושלים
            </p>
            </div>
            </div>
            <br><br><br>
                    <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t39.30808-6/331791639_1370715617028911_3037524056423178300_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=5DEaezOkeCoAX_QtvDx&_nc_oc=AQnWaz7uXLHxEyXVgpDoN9oaKJYy_93zGDa6gtqlEOay3bj5uX0xwUQNoVzWH_MHA_g&_nc_ht=scontent.fsdv2-1.fna&oh=00_AfCekjsTeiPSOmoancDe1imBsyS3StgRNt8ZIZ5iskSSCg&oe=64CE4C42" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>בריאות הנפש היא נושא אנושי שמערב את כולנו. אנו מאמינים שהעלאת המודעות לבריאות הנפש היא חובתנו. אנו חשים תחושת אחריות כלפי הקהילות שבהן אנו חיים והפרטים המרכיבים את הקהילות הללו </h3>
            <p class="fst-italic">          
              מעבר לשבוע בריאות הנפש של נפשות, נפשות מקדמת ומשתתפת באופן פעיל בנפש

               פעילות בריאותית לאורך כל השנה במטרה לשנות את השיחה הקיימת ולהעלות את המודעות הציבורית לנושא זה. עבודתנו שואפת לפתוח מרחבים חדשים לדיאלוג המעורבים אנשים החווים מצוקה נפשית, מערכות התמיכה שלהם והחברה בכללותה. המרחבים האלה נותנים לנו

               מצד אחד, ההזדמנות להקשיב, להבין ולהרחיב את הדעות הקדומות שלנו לגבי

             בריאות הנפש ומצד שני, הסיכוי לבטל באופן אישי מצוקה נפשית ולבקש עזרה במשבר ללא בושה.
            </p>
            </div>





            <br><br><br><br><br><br><br><br>
            
        </div>
          </div>
        </div>


      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="zoom-in">
        <center>
        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="https://static.wixstatic.com/media/159878_bb1f42b4145248bc98cf1fa3b10810b3~mv2.jpg/v1/fill/w_244,h_73,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/hess%20logo%2Btitle%20(3).jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="https://static.wixstatic.com/media/159878_3e6e18dcdb7a45b48be6699ed9d99786~mv2.jpg/v1/fill/w_268,h_40,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Tauber%20logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="https://static.wixstatic.com/media/159878_f4e64d0a447f436abef2e78ffc0ef693~mv2.jpg/v1/fill/w_186,h_62,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/CSF%20LOGOTYPE_Layout%201.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="https://static.wixstatic.com/media/159878_4c42176356104a859618b4184efdc60e~mv2.png/v1/fill/w_180,h_89,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo%20color%20transparent%20background.png" class="img-fluid" alt="">
          </div>
        </div>

        </div>

      </div>
    </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>הצוות שלנו</h2>
          <h3>הצוות <span>שלנו</span></h3>
          <p>הכירו את מייסדי נפשות</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_4aeabe2141284234911d35bea5594e5c~mv2.jpg/v1/crop/x_47,y_0,w_387,h_400/fill/w_216,h_223,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/me_small.jpg" class="img-fluid" width= 300px alt="">
                <div class="social">
                  <h1>hey</h1>
                </div>
              </div>
              <div class="member-info">
                <h4>
                סיוון רגב</h4>
                <span>מרפאה בעיסוק, רופאה ומרצה בתחום בריאות הנפש. סיון חובבת אמנות ותרבות רצינית</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_1c9523b8f5a84835a41dbd1f39f06ca5~mv2.jpeg/v1/crop/x_0,y_0,w_1164,h_1200/fill/w_216,h_224,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%99%D7%A0%D7%99%D7%91.jpeg" class="img-fluid" width= 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>יניב רוזנפלד-כהן</h4>
                <span>ירושלמי מלידה, יניב הוא פעיל המאמין בכוחם של שיתופי פעולה למטרות טובות</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_01db4df7fbd242d4a3ac6a072026feee~mv2.jpeg/v1/fill/w_216,h_223,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%A8%D7%95%D7%A0%D7%99.jpeg" class="img-fluid" width= 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>
                רוני דילר</h4>
                <span>ירושלמית בנשמה, נשואה ואם לארבעה. רוני היא מרפאה בעיסוק ומשמשת כמנהלת מכינה קוגניטיבית (בית ספר להכשרה מקצועית למתמודדים עם בעיות נפשיות) של האגודה הישראלית לבריאות הציבור מזה 15 שנה

                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_db679ef812c7493aaef09c96d110d341~mv2.jpeg/v1/crop/x_0,y_11,w_1200,h_1239/fill/w_216,h_223,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%90%D7%95%D7%A8.jpeg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> אור איזמי</h4>
                <span>
אור מגיעה מצפון ישראל אבל ירושלים היא הבית שלה! היא עובדת, יוצרת ומשחקת בתיאטרון חובבים</span>
              </div>
            </div>
          </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_586d746400ce4ab5a2242586bc91b37e~mv2.jpeg/v1/fill/w_216,h_223,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%A9%D7%97%D7%A8.jpeg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> 
שחר בן עמי</h4>
                <span>
שחר יוצר מוזיקה וציורים מקוריים המשקפים את דרך ההתמודדות שלו עם מחלות נפש כמו גם חוויות אישיות אחרות. שחר תומך בעיצוב הגרפי בנפחות.</span>
              </div>
            </div>
          </div>





                              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_36fe8412439342e5bc47159ee81ded12~mv2.jpeg/v1/crop/x_8,y_0,w_704,h_727/fill/w_216,h_223,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%AA%D7%9E%D7%A8.jpeg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> 

תמר בר לוי</h4>
                <span>
נשואה לאלון, תמר היא עוזרת גננת בגן, פעילה, מדריכת שיקום חברתי ומתמודדת עם מחלת נפש.</span>
              </div>
            </div>
          </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_0d36c930d88042ee907c4b6b6a8ea0e6~mv2.jpg/v1/crop/x_0,y_85,w_2709,h_2797/fill/w_216,h_223,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/IMG_9142.jpg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> 

בן וקסמן</h4>
                <span>
נשוי לנעמה ואב להלל ישי, אביגיל ואחינועם. מנהל מקצועי בכותב וגאה להיות שותף בפרויקט נפשות.</span>
              </div>
            </div>
          </div>




                              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_3e7330762b714ecd8c733f235d1e90ef~mv2.jpeg/v1/fill/w_216,h_216,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%A7%D7%A8%D7%95%D7%9C%D7%99%D7%A0%D7%94.jpeg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> 

קרולינה ריוס מנדל</h4>
                <span>
עובדת סוציאלית וחובבת אמנות, שנולדה וגדלה בוונצואלה, מתגוררת כיום בלימה, פרו, עם בן זוגה ובנותיה התאומות התוססות. 
</span>
              </div>
            </div>
          </div>


                              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/159878_7dce775ad3024e8ca6c88af89d9c1f26~mv2.jpeg/v1/crop/x_0,y_230,w_720,h_720/fill/w_216,h_216,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/WhatsApp%20Image%202022-07-06%20at%2021_11_28.jpeg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> 

איילה קריזל</h4>
                <span>
ירושלמית בנשמה, איילה כיום חברת קיבוץ רמת רחל. היא מטפלת בפסיכודרמה ומנחת קבוצות המתמחה בבריאות הנפש. רשמית היא תולעת ספרים ומנהלת את קבוצת הקריאה "אוזני חמור" (עוזני חמור) בפייסבוק.</span>
              </div>
            </div>
          </div>


                              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://static.wixstatic.com/media/eae226_5cfe89779f7a4a0bbbabe5772676d66a~mv2.jpeg/v1/crop/x_0,y_47,w_582,h_596/fill/w_216,h_216,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/%D7%A2%D7%9E%D7%A8%D7%99.jpeg" class="img-fluid" width = 300px alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> 

עומרי מרידור</h4>
                <span>
מנהל קהילה של "עושים נפשות - מובילים שינוי בבריאות הנפש" ("עושים נפשות - מובילים שינוי בבריאות הנפש").</span>
              </div>
            </div>
          </div>










        </div>

      </div>
    </section><!-- End Team Section -->


    <!-- ======= Pricing Section ======= -->
    <!--  
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <h3>Check our <span>Pricing</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- 
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section> End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <center>
      <div class="container" data-aos="fade-up">

        <div class="section-title" >
          <h2>צור קשר</h2>
          <h3><span>צור קשר איתנו</span></h3>
        </div>

          <div class="col-lg-3 col-md-6" >
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>שלחו לנו איימל</h3>
              <p>nefashotjr@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>תתקשרו אלינו</h3>
              <p> 050-6242734</p>
            </div>
          </div>
          </center>
        </div>
          
        <div class="row" data-aos="fade-up" data-aos-delay="100" >



        </div>

      </div>
    </section>
    

    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>הצטרף לניוזלטר שלנו</h4>
              <a href="https://forms.wix.com/a397a8ea-95da-4c88-8c8f-aa1f4e301d20:9c1e6a00-7afc-47a6-9c3a-42f6b0608c19"><input type="submit" value="הרישמו"  style="background-color: blue; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>נפשות<span>.</span></h3>
            <p>
              רחוב אדם A108<br>
              ניו יורק, ניו יורק 535022<br>
              ארצות הברית<br><br>
              <strong>טלפון:</strong> +1 5589 55488 55<br>
              <strong>איימל:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>לינקים</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">בית</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">עלינוs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">שירות</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">תנאי השירות</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">מדיניות הפרטיות</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>השירות שלנו</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">עיצוב אתרים</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">בניית אתרים</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ניהול מוצר</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">שיווק</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">עיצוב גרפיק</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>הרשתות החברתיות שלנו</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; <strong><span> NEFASHOT </span></strong> כל הזכיות שמורות
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
     <a href="https://bootstrapmade.com/">עוצב על ידי מייט</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>